.overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(51, 53, 55, .99);
  z-index: 10;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2.3125rem 3.75rem;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.modal__title {
  line-height: 1;
  text-align: center;
  margin-bottom: 1.25rem;
}