//размер контейнера
$container: 940px;


$darkGreen: #365a49;
$biege: #666666;
$lightBeige: #f3f5f3;
$videoButtons: #626262;


//размеры аватарок секции "Команда
$teamAvatarWidth: 13.75rem;
$teamAvatarHeight: 18rem;

//размеры аватарок в секции отзывы
$reviewsAvatarWidth: 15.875rem;
$reviewsAvatarHeight: 16.25rem;

//размер кнопок выбора отзыва
$reviewsPaginationSize: 4.25rem;

$sectionTitleFz: 3rem;
