//Миксин для создания font-face директив
@mixin font-face($fw: '', $fs: '') {
  $fow: normal;
  $fos: normal;

  $fPostScriptWeight:'Regular';
  $fPostScriptSyle:'';

  @if ($fw == 'black') {
    $fow: 900;
    $fPostScriptWeight:'Black';
  } @else if ($fw == 'bold') {
    $fow: bold;
    $fPostScriptWeight:'Bold';
  } @else if ($fw == 'extrabold') {
    $fow: 800;
    $fPostScriptWeight:'ExtraBold';
  } @else if ($fw == 'medium') {
    $fow: 500;
    $fPostScriptWeight:'Medium';
  } @else if ($fw == 'light') {
    $fow: 300;
    $fPostScriptWeight:'Light';
  } @else if ($fw == 'thin') {
    $fow: 100;
    $fPostScriptWeight:'Thin';
  }

  @if ($fs == 'italic') {
    $fos: italic;
    $fPostScriptSyle:'Italic';
    @if ($fw == '') {
      $fPostScriptWeight:'';
    }
  }


  @font-face {
  font-family: 'alegreya_sans';
  
  src: 
       local('Alegreya sans'),
       local('AlegreyaSans-#{$fPostScriptWeight}#{$fPostScriptSyle}'),
       url('../fonts/alegreyasans-#{$fw}#{$fs}-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasans-#{$fw}#{$fs}-webfont.woff') format('woff');
  font-weight: $fow;
  font-style: $fos;
  }
}

//Миксин для создания круглого блока
@mixin circle($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  border-radius: 50%;
  overflow: hidden;
}

//Миксин для создания треугольника
@mixin triangle($width: 10px, $height: 10px, $color: $darkGreen, $direction: 'down') {
    
    height: 0;
    width: 0;
    border : $height solid transparent;
    
    @if $direction == 'down' {
      border-right-width: $width / 2;
      border-left-width: $width / 2;
      border-top-color: $color;
      border-bottom-width: 0;
    } @else if $direction == 'up' {
      border-right-width: $width / 2;
      border-left-width: $width / 2;
      border-bottom-color: $color;
      border-top-width: 0;
    } @else if $direction == 'right' {
      border-top-width: $width / 2;
      border-bottom-width: $width / 2;
      border-left-color: $color;
      border-right-width: 0;
    } @else if $direction == 'left' {
      border-top-width: $width / 2;
      border-bottom-width: $width / 2;
      border-right-color: $color;
      border-left-width: 0;
    }
    
}

