//размер контейнера
$container: 940px;


$darkGreen: #365a49;
$biege: #666666;
$lightBeige: #f3f5f3;

//размеры аватарок секции "Команда
$teamAvatarWidth: 220px;
$teamAvatarHeight: 288px;

//размеры аватарок в секции отзывы
$reviewsAvatarWidth: 254px;
$reviewsAvatarHeight: 260px;

//размер кнопок выбора отзыва
$reviewsPaginationSize: 68px;

$sectionTitleFz: 3rem;