.about {
  text-align: center;
  background: url('../images/img/about-background.png') no-repeat;
  background-position: left center;
  position: relative;

  .section-title {
    margin-bottom: 8px;
  }

  &:after {
    content: url('../images/img/about_overlaying-img.png');
    position: absolute;
    left: 0;;
    top: 69%;
  }
}

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57px;
}

.about__slogan {
  max-width: 45%;
  color: $biege;
  line-height: 1.2;
}


.about__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.about__item.benefit{
  max-width: 29%;
  position: relative;
  
  &:before {
    content: url('../../images/img/about-list-decor.svg');
    position: absolute;
    top: 45px;
    left: -25%;
  }
  
  &:first-child:before {
    content: none;
  } 
  
  &:last-child {
    margin-right: 0;
  }
}



