.about {
  text-align: center;
  background: url('../images/img/about-background.png') no-repeat;
  background-position: left 20%;
  position: relative;

  .section-title {
    margin-bottom: 8px;
  }

  &:after {
    content: url('../images/img/about_overlaying-img.png');
    position: absolute;
    left: 0;;
    top: 69%;

    @include tablets {
      top: 80%;
    }

    @include phones {
      content: none;
    }
  }
}

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5625rem;
}

.about__slogan {
  max-width: 25.625rem;
  color: $biege;
  line-height: 1.2;
}


.about__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }

}

.about__item.benefit{
  max-width: 29%;
  position: relative;
  
  &:before {
    content: url('../../images/img/about-list-decor.svg');
    position: absolute;
    top: 45px;
    left: -25%;

    @include tablets {
      content: none;
    }
  }
  
  &:first-child:before {
    content: none;
  } 
  
  &:last-child {
    margin-right: 0;
  }

  @include phones {
    max-width: initial;
    text-align: left;
  }
}



