.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;

    @include phones {
      flex-direction: column;
      align-items: center;

      padding-bottom: 1.875rem;
    }

  }
  .phone-number {
    color: $darkGreen;
    &:hover {
      color: #000;
      .phone-number__icon {
        fill: #000;
      }
    }

    @include tablets {
      display: initial;
    }
  }
  .phone-number__icon {
    fill: $darkGreen;
  }
}

.footer__left {
  @include phones {
    text-align: center;
    width: 100%;
    margin-bottom: 0.625rem;
  }
}

.footer__right {
  display: flex;
  align-items: center;
  font-size: 0;

  @include phones {
    width: 100%;
    justify-content: center;
  }
}

.socials {
  display: flex;
}

.socials__item {
  margin-left: 1.25rem;
  &:first-child {
    margin-left: 0;
  }
}

.socials__item-link {
  display: flex;
}

.socials__item-icon {
  width: 20px;
  height: 20px;
  fill: #b2b2b2;
  
  &:hover {
    fill: #000;
  }
}