.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo__icon {
  width: 53px;
  height: 39px;
  fill:white;

}

.phone-number__icon {
  fill: white;
  width: 14px;
  height: 12px;
}
.phone-number {
  padding-top: 2px;
  color: white;
  font-size: 24px;
}