.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.logo__icon {
  width: 3.3125rem;
  height: 2.4375rem;
  fill:white;

}
.phone-number {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  fill: white;
  margin-right: 0.3125rem;
  width: 0.875rem;
  height: 0.75rem;
}

.hamburger {
  display: none;
}

.hamburger__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

@media (max-width: 768px) {
  .phone-number {
    display: none;
  }

  .hamburger {
    display: initial;
  }
}