.pagination {
  position: fixed;

  top: 20%;
  right: 3%;

  @include tablets {
    display: none;
  }
}

.pagination__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination__item {
  margin-bottom: 4px;

  
  &--active, &:hover {
    .pagination__link:after {
      width: 16px;
      height: 16px;
    }
  }

}

.pagination__link {
  display: block;
  width: 19px;
  height: 19px;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content:'';
    @include circle(0, 0);
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
  }
}

