.review {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.review__avatar {
  width: $reviewsAvatarWidth;
  height: $reviewsAvatarHeight;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include tablets {
    width: 8.1875rem;
    height: 8.3125rem;
  }
}

.review__avatar-img {
  max-width: 100%;
}

.review__content {
  display: flex;
  flex-direction: column;
  padding-top: 2%;

  @include tablets {
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
  }
}

.review__title {
  font-size: 1.875rem;
  margin-bottom: 1.125rem;
}

.review__text {
  color: $biege;
  line-height: 1.2;
  margin-bottom: 1.5625rem;
}